.login {
    display: flex;
    flex-direction: column;
    padding: 3% 0 5% 0;
}

.login-title {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 1.5%;
    z-index: 1;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    background-color: #0a1d37;
    border-radius: 1vh;
    width: 28%;
    height: 40vh;
    padding: 2% 1%;
    box-shadow:0px 0px 30px rgb(244, 244, 246);
}

.login-form input {
    width: 100%;
    align-self: center;
    padding: 3.5%;
    border-radius: 1vh;
}

.login-form button {
    width: 30%;
    padding: 3.5%;
    margin-top: 8%;
    margin-bottom: 0;
    color: #0a1d37;
    background-color: white;
    align-self: center;
}

.login-form button:hover {
    color: white;
    background-color: #0758c9;
}

.login-question {
    color: white;
    align-self: center;
    margin-top: 3%;
}

.login span {
    position: absolute;
    align-self: center;
    color: orange;
    font-size: 2.5vh;
    bottom: 261px;
}

.link-to_register {
    color: orange;
}

.link-to_register:hover {
    color: white;
}